# Dev Mode (true/false)
NUXT_PUBLIC_DEV_MODE=false

# Application Base URL
NUXT_APP_BASE_URL=https://video-editor.example.com

# BloggerDog instance base URL
BLOGGERDOG_BASE_URL=https://fastcat.example.com

# Port to run the application on
PORT=3000
