# Dev Mode (true/false)
NUXT_PUBLIC_DEV_MODE=false

# Application Base URL
NUXT_APP_BASE_URL=https://video-editor.example.com

# Gran Publicador instance base URL
GPAN_PUBLICADOR_BASE_URL=https://gran.example.com

# Port to run the application on
PORT=3000
