.editor-splitpanes {
  background-color: transparent;
}

.editor-splitpanes .splitpanes__pane {
  background-color: transparent;
}

.editor-splitpanes > .splitpanes__splitter {
  background-color: var(--color-ui-border);
  position: relative;
  box-sizing: border-box;
}

.editor-splitpanes > .splitpanes__splitter:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color 0.2s;
  background-color: transparent;
  z-index: 10;
}

.editor-splitpanes > .splitpanes__splitter:hover:before {
  background-color: var(--color-primary-500);
}

.editor-splitpanes.splitpanes--vertical > .splitpanes__splitter {
  width: 2px;
  cursor: col-resize;
}

.editor-splitpanes.splitpanes--vertical > .splitpanes__splitter:before {
  left: -3px;
  right: -3px;
  height: 100%;
}

.editor-splitpanes.splitpanes--horizontal > .splitpanes__splitter {
  height: 2px;
  cursor: row-resize;
}

.editor-splitpanes.splitpanes--horizontal > .splitpanes__splitter:before {
  top: -3px;
  bottom: -3px;
  width: 100%;
}

.splitpanes--dragging .splitpanes__pane,
.splitpanes--resizing .splitpanes__pane,
.splitpanes--resizing video,
.splitpanes--resizing canvas,
.splitpanes--resizing iframe,
.splitpanes--resizing .pointer-events-auto {
  pointer-events: none !important;
}

.splitpanes--resizing .monitor-container,
.splitpanes--resizing .timeline-scroll-el {
  user-select: none;
}
